.nav_admin {
    background-color: white;
    padding: 0px;
}

.nav_admin ul {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-top: 15px;
}

.nav_admin ul li {
    list-style: none;
    padding: 6px 10px;
}

.nav_admin ul li a {
    color: black;
    text-decoration: none;
    margin: 0px 10px;
}

.nav_admin ul li:hover {
    background-color: #00B0D7;
    border-radius: 10px;
}

.nav_admin svg {
    width: 25px;
    margin-left: 10px;
    padding: 0px;
    margin-right: 10px;
}